#crmWebToEntityForm.zcwf_lblLeft.crmWebToEntityForm
  form(action='https://crm.zoho.com/crm/WebToLeadForm' name='WebToLeads4905860000000338002' method='POST' onsubmit='javascript:document.charset="UTF-8"; return checkMandatory4905860000000338002()' accept-charset='UTF-8')
    input(type='text' style='display:none;' name='xnQsjsdp' value='5f2e32f356532686a3bcb5ef98c45663146a72dd86e131ef6c94bad5e4afc55d')
    input#zc_gad(type='hidden' name='zc_gad' value='')
    input(type='text' style='display:none;' name='xmIwtLD' value='87ae1f7d535f9433203fed233e1f2b681e20b29e0e24d60ff148d29529e4d5e0')
    input(type='text' style='display:none;' name='actionType' value='TGVhZHM=')
    input(type='text' style='display:none;' name='returnURL' value='https://hielofrio.com')
    style.
      html,body{
      margin: 0px;
      }
      
      #crmWebToEntityForm{text-align: left;}
      #crmWebToEntityForm * {
      direction: ltr;
      }
      .zcwf_lblLeft .zcwf_title {
      word-wrap: break-word;
      padding: 0px 6px 10px;
      font-weight: bold;
      }
      .zcwf_lblLeft .zcwf_col_fld input[type=text], .zcwf_lblLeft .zcwf_col_fld textarea {
      
      }
      .zcwf_lblLeft .zcwf_col_lab {
      width: 30%;
      word-break: break-word;
      padding: 0px 6px 0px;
      margin-right: 10px;
      margin-top: 5px;
      float: left;
      min-height: 1px;
      }
      .zcwf_lblLeft .zcwf_privacy{padding: 6px;}
      .zcwf_lblLeft .wfrm_fld_dpNn{display: none;}
      .dIB{display: inline-block;}
      
      .zcwf_lblLeft .zcwf_row:after, .zcwf_lblLeft .zcwf_col_fld:after {
      content: '';
      display: table;
      clear: both;
      }
      .zcwf_lblLeft .zcwf_col_help {
      float: left;
      margin-left: 7px;
      font-size: 12px;
      max-width: 35%;
      word-break: break-word;
      }
      .zcwf_lblLeft .zcwf_help_icon {
      
      }
      .zcwf_lblLeft .formsubmit {
      margin-right: 5px;
      cursor: pointer;
      color: #333;
      font-size: 12px;
      }
      .zcwf_lblLeft .zcwf_privacy_txt {
      color: rgb(0, 0, 0);
      font-size: 12px;
      font-family: Arial;
      display: inline-block;
      vertical-align: top;
      color: #333;
      padding-top: 2px;
      margin-left: 6px;
      }
      .zcwf_lblLeft .zcwf_tooltip_over{
      position: relative;
      }
      .zcwf_lblLeft .zcwf_tooltip_ctn{
      position: absolute;
      background: #dedede;
      padding: 3px 6px;
      top: 3px;
      border-radius: 4px;word-break: break-all;
      min-width: 50px;
      max-width: 150px;
      color: #333;
      }
      .zcwf_lblLeft .zcwf_ckbox{
      float: left;
      }
      .zcwf_lblLeft .zcwf_file{
      width: 55%;
      box-sizing: border-box;
      float: left;
      }
      .clearB:after{
      content:'';
      display: block;
      clear: both;
      }
      @media all and (max-width: 900px) {
      .zcwf_lblLeft .zcwf_col_lab, .zcwf_lblLeft .zcwf_col_fld {
      width: auto;
      float: none !important;
      }
      .zcwf_lblLeft .zcwf_col_help {width: 40%;}
      }
    .zcwf_row
      .zcwf_col_lab(style='display: none')
        label(for='Email')
          | Correo Electr&oacute;nico
          span(style='color:red;') *
      .zcwf_col_fld
        input#Email(type='text' ftype='email' name='Email' maxlength='100'
        placeholder="Correo electrónico *")
        .zcwf_col_help
    .zcwf_row
      .zcwf_col_lab(style='display: none')
        label(for='First_Name')
          | Nombre
          span(style='color:red;') *
      .zcwf_col_fld
        input#First_Name(type='text' name='First Name' maxlength='40' placeholder="Nombre *")
        .zcwf_col_help
    .zcwf_row
      .zcwf_col_lab(style='display: none')
        label(for='Last_Name')
          | Apellido
          span(style='color:red;') *
      .zcwf_col_fld
        input#Last_Name(type='text' name='Last Name' maxlength='80' placeholder="Apellido *")
        .zcwf_col_help
    .zcwf_row
      .zcwf_col_lab(style='display: none')
        label(for='Street') Direcci&oacute;n
      .zcwf_col_fld
        input#Street(type='text' name='Street' maxlength='250' placeholder="Dirección")
        .zcwf_col_help
    .zcwf_row
      .zcwf_col_lab(style='display: none')
        label(for='City') Ciudad
      .zcwf_col_fld
        input#City(type='text' name='City' maxlength='100' placeholder="Ciudad")
        .zcwf_col_help
    .zcwf_row
      .zcwf_col_lab(style='display: none')
        label(for='State') Estado
      .zcwf_col_fld
        input#State(type='text' name='State' maxlength='100' placeholder="Estado")
        .zcwf_col_help
    .zcwf_row
      .zcwf_col_lab(style='display: none')
        label(for='Description') Modelo
      .zcwf_col_fld
        textarea#Description(name='Description' placeholder="Modelo")
        .zcwf_col_help
    .secondary-color.mt-2
        .font-13.regular *Campos obligatorios
    .zcwf_row.wfrm_fld_dpNn
      .zcwf_col_lab(style='display: none')
        label(for='Lead_Source') Lead Source
      .zcwf_col_fld
        select#Lead_Source.zcwf_col_fld_slt(name='Lead Source')
          option(value='-None-') -None-
          option(value='Aviso') Aviso
          option(value='Llamada no solicitada') Llamada no solicitada
          option(value='Recomendación de empleado') Recomendaci&oacute;n de empleado
          option(value='Recomendación externa') Recomendaci&oacute;n externa
          option(value='Tienda en línea') Tienda en l&iacute;nea
          option(value='Twitter') Twitter
          option(value='Facebook') Facebook
          option(value='Socio') Socio
          option(value='Google+') Google+
          option(value='Relaciones públicas') Relaciones p&uacute;blicas
          option(value='Alias del correo electrónico de ventas') Alias del correo electr&oacute;nico de ventas
          option(value='Socio de seminarios') Socio de seminarios
          option(value='Seminario interno') Seminario interno
          option(value='Exposición comercial') Exposici&oacute;n comercial
          option(selected='' value='Descargar web') Descargar web
          option(value='Investigación web') Investigaci&oacute;n web
          option(value='Chat') Chat
        .zcwf_col_help
    .text-center
        button#formsubmit.formsubmit.zcwf_button(type='submit' value='ENVIAR' title='ENVIAR').submit
            | ENVIAR
        //- input.zcwf_button(type='reset' name='reset' value='BORRAR' title='BORRAR')
    script.
      function validateEmail4905860000000338002()
      {
      var form = document.forms['WebToLeads4905860000000338002'];
      var emailFld = form.querySelectorAll('[ftype=email]');
      var i;
      for (i = 0; i < emailFld.length; i++)
      {
      var emailVal = emailFld[i].value;
      if((emailVal.replace(/^\\s+|\s+$/g, '')).length!=0 )
      {
      var atpos=emailVal.indexOf('@');
      var dotpos=emailVal.lastIndexOf('.');
      if (atpos<1 || dotpos<atpos+2 || dotpos+2>=emailVal.length)
      {
      alert('Please enter a valid email address. ');
      emailFld[i].focus();
      return false;
      }
      }
      }
      return true;
      }
      function checkMandatory4905860000000338002() {
      var mndFileds = new Array('First Name','Last Name','Email');
      var fldLangVal = new Array('Nombre','Apellido','Correo\\x20Electr\xF3nico');
      for(i=0;i<mndFileds.length;i++) {
      var fieldObj=document.forms['WebToLeads4905860000000338002'][mndFileds[i]];
      if(fieldObj) {
      if (((fieldObj.value).replace(/^\\s+|\s+$/g, '')).length==0) {
      if(fieldObj.type =='file')
      {
      alert('Please select a file to upload.');
      fieldObj.focus();
      return false;
      }
      alert(fldLangVal[i] +' cannot be empty.');
      fieldObj.focus();
      return false;
      }  else if(fieldObj.nodeName=='SELECT') {
      if(fieldObj.options[fieldObj.selectedIndex].value=='-None-') {
      alert(fldLangVal[i] +' cannot be none.');
      fieldObj.focus();
      return false;
      }
      } else if(fieldObj.type =='checkbox'){
      if(fieldObj.checked == false){
      alert('Please accept  '+fldLangVal[i]);
      fieldObj.focus();
      return false;
      }
      }
      try {
      if(fieldObj.name == 'Last Name') {
      name = fieldObj.value;
      }
      } catch (e) {}
      }
      }
      if(!validateEmail4905860000000338002()){return false;}
      document.querySelector('.crmWebToEntityForm .formsubmit').setAttribute('disabled', true);
      }
      function tooltipShow4905860000000338002(el){
      var tooltip = el.nextElementSibling;
      var tooltipDisplay = tooltip.style.display;
      if(tooltipDisplay == 'none'){
      var allTooltip = document.getElementsByClassName('zcwf_tooltip_over');
      for(i=0; i<allTooltip.length; i++){
      allTooltip[i].style.display='none';
      }
      tooltip.style.display = 'block';
      }else{
      tooltip.style.display='none';
      }
      }
